
.not-found{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f0f0f0;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.6rem;
    /* background: radial-gradient( circle ,  rgba(255, 0, 0, 0.3) 0%, rgba(255, 127, 127, 0.3) 10%, rgba(255,255,255,0) 100%),; */
    background: linear-gradient(35deg , black 30% , rgb(60, 0, 0) 70% , rgb(172, 0, 0));
    h1{
        &:nth-child(1){
            font-size: 7rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
            color: rgb(127, 3, 15);
            text-shadow:(0 ,0 ,20px red);
            border-bottom: 3px dotted red;
        }
         &:nth-child(2){
            font-size: 2rem;
            /* font-weight: 700; */
            margin-bottom: 0.5rem;
        }
        &:nth-child(3){
            font-size: 2rem;
            /* font-weight: 700; */
            margin-bottom: 0.5rem;
        }
    }
    p{
        font-size: 1rem;

    }
}